header{
    display: flex;
    background-color: rgb(156, 152, 146);
    padding: 10px;
}
nav{
    padding-bottom:-10px;
    display: flex;
    margin-left: 70%;
}
nav a{
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}
section{
    background-color:blueviolet;
    margin: 20px;
}
section .side{
    float: right;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-style:oblique;
    background: radial-gradient(red,pink,orange);
}
section article{
    float: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background: linear-gradient(to bottom right,blue,red);
    text-transform: capitalize;
}
footer{
    text-align: center;
    clear: both;
    background-color: rgb(156, 152, 146);
    color: chartreuse;
    padding: 10px;
    
}

